{% extends "govuk/template.njk" %}


{% block head %}
  <!--[if !IE 8]><!-->
    <link href="/stylesheets/main.css" rel="stylesheet">
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://frontend.design-system.service.gov.uk/supporting-ie8/#support-internet-explorer-8 #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet">
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %} 

{% block pageTitle %}
 {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

    <h2 class="govuk-heading-m">Personal details</h2>

    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            html:  data['first-name']  + " " + data['middle-name'] + " " + data['surname']
          },
          actions: {
            items: [
              {
                href: "/what-is-your-name",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: data['address']
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "address"
              }
            ]
          }
        },
        {
          key: {
            text: "Photo ID"
          },
          value: {
            html: data['photo-ID']
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "photo ID"
              }
            ]
          }
        },
        {
          key: {
            text: "Contact details"
          },
          value: {
            html: data['contact-details']
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    <form action="/thank-you-for-submitting" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Accept and send
      </button>

    </form>

  </div>
</div>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/javascripts/govuk.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}